@import "src/sass-variables";

.review-card {
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: rgb(170, 170, 170) 0px 8px 32px;
  margin: 0.7em;
  width: 100%;
  padding: 4em;
  border-radius: 4em;

  i {
    font-size: 10em;
    color: gray;
  }
  
  .header {
    width: 100%;
    margin-bottom: 1em;

    .row {
      display: flex;
      justify-content: space-between;
      
      &:first-child {
        font-weight: 600;
      }
    }
  }

  .review-ratings-wrapper {
    display: flex;
    flex-wrap: wrap;

    .overall-score {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
    }

    .review-ratings {
      display: flex;
      flex: 4;
      flex-direction: column;
      width: 100%;
      align-items: center;

      .review-rating {
        width: 85%;
        margin-bottom: 3em;

        .question {
          margin-bottom: 10px;
        }
      }  
    }
  }

  .review-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .tag {
      background-color: $light-red;
      padding: 0.5em;
      margin: .25em;
      border-radius: .25em;
      text-transform: uppercase;
      color: slategray;
      font-weight: 700;
      cursor: default;
    }
  }

  .review-body {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}
