@import 'src/sass-variables';

.review-card {
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: $shadow-gray 0px 8px 32px;
  margin: 0.7em;
  width: 100%;
  padding: 3em;
  border-radius: 4em;

  &.slide-in {
    animation: slide-in 1s forwards;
    transform: translateY(120%);
  }

  @keyframes slide-in {
    100% {
      transform: translateY(0%);
    }
  }

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .header {
    width: 100%;
    margin-bottom: 1em;

    .row {
      display: flex;
      justify-content: space-between;

      &:first-child {
        font-weight: 600;
      }

      .award {
        margin-left: 0.5em;
        &.gold {
          color: $gold;
        }
        &.silver {
          color: $silver;
        }
        &.bronze {
          color: $bronze;
        }
      }

      .award-popup {
        background-color: $gray;
      }
    }
  }

  .review-ratings-wrapper {
    display: flex;
    flex-wrap: wrap;

    .votes {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      flex: 1 4 5%;
      align-items: center;
      color: $medium-gray;
      font-size: 3em;
      i.chevron {
        height: inherit;
        &:hover {
          color: $semantic-dark-gray;
          cursor: pointer;
        }
        &.active {
          color: $semantic-dark-gray;
        }
      }
    }

    .overall-score {
      i {
        font-size: 10em;
        color: $gray;
      }
      display: flex;
      flex: 1 4 15%;
      align-items: center;
      justify-content: center;
    }

    .review-ratings {
      display: flex;
      flex: 4 1 75%;
      flex-direction: column;
      align-items: center;

      .review-rating {
        width: 85%;
        margin-bottom: 3em;

        .question {
          margin-bottom: 10px;
        }
      }
    }
  }

  .review-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .tag {
      background-color: $light-red;
      margin-bottom: 0.5em;
      text-transform: uppercase;
      color: $semantic-dark-gray;
      font-weight: 700;
      cursor: default;
    }
  }

  .review-body {
    padding-top: 2em;
  }

  .tag-label {
    padding-top: 2em;
  }
}
