@import 'src/sass-variables';

.company {
  display: flex;
  flex-direction: column;
  align-items: center;

  .company-content {
    width: 75%;

    .review-success-msg {
      margin-top: 1em;
    }
    .no-reviews {
      margin-top: 3em;
    }
    .company-header {
      .row {
        display: flex;
        padding-left: 0.5em;
        padding-right: 0.5em;

        &.company-details {
          justify-content: space-between;
          padding-top: 1.25em;
        }

        &.filter-container {
          justify-content: flex-end;
          align-items: center;
          padding-top: 0.25em;

          label {
            font-weight: bold;
          }

          .dropdown.position-filter {
            width: 25%;
            margin-left: 1em;
          }
        }
      }

      button {
        &.add-review {
          color: white;
          background-color: $gray;
          border: 2px solid transparent;
          height: fit-content;
          align-self: center;

          &:hover {
            background-color: white;
            color: $red;
            border: 2px solid $red;
            box-shadow: $shadow-gray -1px 3px 32px;
          }
        }

        &.back-btn {
          color: $gray;
          i {
            font-size: 3em;
            &:hover {
              cursor: pointer;
              color: $semantic-dark-gray;
            }
          }
        }
      }
    }
    .company-reviews {
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
    }
  }
}
