@import 'src/sass-variables';

.company {
  display: flex;
  flex-direction: column;
  align-items: center;

  .company-content {
    width: 75%;

    .review-success-msg {
      margin-top: 1em;
    }
    .no-reviews {
      margin-top: 3em;
    }
    .company-header {
      display: flex;
      justify-content: space-between;
      padding-top: 1.25em;
      padding-left: 0.5em;
      padding-right: 0.5em;
      button {
        color: white;
        background-color: $gray;
        border: 2px solid transparent;
        height: fit-content;
        align-self: center;

        &:hover {
          background-color: white;
          color: $red;
          border: 2px solid $red;
          box-shadow: $shadow-gray -1px 3px 32px;
        }
      }
      .company-name {
      }
    }
    .company-reviews {
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
    }
  }
}
