@import 'src/sass-variables';

.modal.review-form {
  > .header {
    background-color: $light-red;
  }

  .content {
    padding: 2em;

    &.scrolling {
      max-height: calc(100vh - 10em);
    }

    .add-review-error {
      padding-top: 1em;
      padding-bottom: 1em;
    }

    .tags {
      margin-bottom: 1em;
      margin-top: 1em;
      .tag {
        margin-bottom: 0.5em;

        &:hover,
        &:focus,
        &:focus-within {
          cursor: pointer;
          box-shadow: $gray 0px 3px 20px 0px;
        }

        &.selected {
          background-color: $red;
          color: white;
          &:hover,
          &:focus,
          &:focus-within {
            box-shadow: $gray 0px 3px 20px 0px;
          }
        }
      }
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;

    .label {
      height: fit-content;
      align-self: center;
    }

    .field {
      margin-right: 2em;
      &.anonymous {
        align-self: center;
      }
      &.position,
      &.semester {
        flex-basis: 15em;
      }
      &.year {
        width: 10em;
      }

      &.wage {
        margin-right: 0;
        .label {
          border: 1px solid lightgray;
        }
        input {
          width: 5em;
        }
      }
    }
  }
  .slider-group {
    white-space: pre-line;
    display: flex;
    flex-direction: column;
    align-items: center;

    .rating {
      width: 100%;
      padding-top: 1em;
      padding-left: 2em;
      padding-right: 2em;
      padding-bottom: 1em;

      .rc-slider {
        padding-bottom: 4em;
      }
    }
  }

  .submit-review-btn {
    &.custom-disabled {
      cursor: default;
      opacity: 0.45 !important;
    }
  }
}
