@import 'src/sass-variables';

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: #bbbbbb 0px 6px 20px 0px;
  padding: 0.5em;
  background-color: $red;
  color: white;

  .logo img {
    height: 4em;
  }

  .logout {
    background: none;
    color: white;

    &:hover {
      color: $light-gray;
      background: none;
    }

    &:active {
      background: none;
      color: white;
    }
  }
}
