@import 'src/sass-variables';

body {
  background-color: $light-gray;

  .unstyled-btn {
    background: none;
    border: none;
    outline: 0;
    color: inherit;
    font-weight: inherit;
  }

  .dismissable-popup {
    display: flex; // so the 'x' button wont wrap to the next line

    .popup-dismiss-btn {
      padding-right: 0;
      color: $gray;

      &:hover,
      &:focus {
        cursor: pointer;
        color: black;
      }
    }
  }

  // a hack to get the confirmation modal (for abandoning a review) to show
  // on top of error pop-ups
  .ui.dimmer:nth-last-of-type(1) {
    z-index: 2000;
  }
}

.App {
  .App-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: #bbbbbb 0px 6px 20px 0px;
    padding: 0.5em;
    background-color: $red;
    color: white;

    .logo {
      font-size: 2em;
      margin: 0.5em;
    }

    .logout {
      background: none;
      color: white;

      &:hover {
        color: $light-gray;
      }
    }
  }

  a {
    color: inherit;
    &:hover {
      color: inherit;
    }
  }
}
