@import 'src/sass-variables';

body {
  background-color: $light-gray;
}

.App {
  .App-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: #bbbbbb 0px 6px 20px 0px;
    padding: 0.5em;
    background-color: $red;
    color: white;

    .logo {
      font-size: 2em;
      margin: 0.5em;
    }

    .logout {
      background: none;
      color: white;

      &:hover {
        color: $light-gray;
      }
    }
  }

  a {
    color: inherit;
    &:hover {
      color: inherit;
    }
  }
}
