@import 'src/sass-variables';
.rc-slider {
  .rc-slider-track {
    background-color: $light-red;
  }

  .rc-slider-dot {
    border-color: $medium-gray;
  }

  .rc-slider-handle {
    border-color: $medium-gray;
  }

  .rc-slider-mark-text {
    white-space: pre-line;
  }

  &.disabled {
    &:focus,
    &:hover {
      cursor: default;
    }

    .rc-slider-step {
      .rc-slider-dot {
        &:hover {
          cursor: default;
        }
      }
    }

    .rc-slider-handle {
      cursor: default;

      &:focus,
      &:hover {
        cursor: default;
        box-shadow: none;
        border-color: $medium-gray;
      }
    }

    .rc-slider-mark {
      cursor: default;

      &:hover {
        cursor: default;
      }

      .rc-slider-mark-text {
        &:hover {
          cursor: default;
        }
      }
    }
  }
}
