@import 'src/sass-variables';

.no-match {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  justify-content: center;

  color: gray;

  i {
    font-size: 10em;
  }
}
